/* src/pages/Home.css */
.home {
    text-align: center;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .home h1 {
    color: #333;
  }
  
  .profile-image {
    width: 150px; /* Atur ukuran sesuai kebutuhan */
    height: 150px;
    border-radius: 10%; /* Membuat gambar menjadi bulat */
    object-fit: cover; /* Memastikan gambar tidak terdistorsi */
    margin-top: 1rem;
  }
  